body {
    margin: 0px;
    padding: 0px;
}

.App {
    display: flex;
    height: 100vh;
    width: 50vw !important;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 20px;
}

.results-btn {
    display: block;
    height: 30px;
    margin: 30px;
}

.score {
    text-align: center;
    color: red;
    margin-right: 50px;
}

.winner {
    text-align: center;
    color: green;
    margin-right: 50px;
}